<!-- -->
<app-barra-navegacao *ngIf="exibindoNavbar()"></app-barra-navegacao>

<router-outlet></router-outlet>

<!--
  <app-pesquisa-pessoas></app-pesquisa-pessoas>
  <app-cadastro-lancamento></app-cadastro-lancamento>
  <app-cadastro-pessoa></app-cadastro-pessoa>
  <app-pesquisa-lancamentos></app-pesquisa-lancamentos>
  <app-teste-ngmodel></app-teste-ngmodel> Se usar, não eskecer de colocar o compoennte em declarations
-->

<!--
  Para usar o growl
  1) aap.module -> import growlModule e MessageService
                -> providers> MessageService
   -->
<p-growl life="3000"></p-growl>
<p-growl key="grl-erro" life="6000"></p-growl>



<!--  Dialogo de confirmação  -->
<p-confirmDialog header="Confirmação" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
      <button type="button" pButton icon="fa-check" label="Sim" (click)="cd.accept()"></button>
        <button type="button" pButton icon="fa-close" label="Não" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>
